<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h4>Login - <%= @author.name %></h4>
        </div>
        <div class="card-body">
          <%= form_with url: sessions_path, local: true do |f| %>
            <div class="mb-3">
              <%= f.label :email, "Email", class: "form-label" %>
              <%= f.email_field :email,
                                class: "form-control",
                                placeholder: "bobonico@email.com",
                                required: true %>
            </div>
            <div class="mb-3">
              <%= f.label :password, "Senha", class: "form-label" %>
              <%= f.password_field :password,
                                   class: "form-control",
                                   placeholder: "123456",
                                   required: true %>
            </div>
            <%= f.submit "Entrar", class: "btn btn-primary w-100" %>
          <% end %>

          <%= link_to "Criar Conta", new_account_path, class: "mt-3 d-block text-center text-muted" %>
        </div>
      </div>
    </div>
  </div>
</div>
